.extended-bg
	.top-menu
		a.top-menu__link(href="#") Menu
		a.top-menu__link(href="#") Some text
		a.top-menu__link(href="#") Some more text
		a.top-menu__link(href="#") Some link
		a.top-menu__link(href="#") Another link
	.main-nav-container
		.logo
		nav.main-nav
			a.main-nav__link(href="#") Home
			a.main-nav__link(href="#") Service
			a.main-nav__link(href="#") Works
			a.main-nav__link(href="#") About me
			a.main-nav__link(href="#") Contact

